{% extends "dashboard/base.html" %}
{% load static %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'css/lecture/create_lecture.css' %}" /> -->
{% endblock %}
<!-- {% load crispy_forms_tags %} -->
{% block main %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container m-0 p-3">
        <div class="new-lecture-content">
            <div class="title">
                <h3>Login</h3>
            </div>
            <div class="new-lecture-form">
                
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
{% endblock %}