/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sora:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora' !important;
}

/* a {
  color: black !important;
  text-decoration: none !important;
} */

/* site-header start */

/* site header end */

/* site-footer start */
.site-footer {
  background-color: #333333;
}


/* site-footer end */


