{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendease</title>

    <!-- CSS link -->
    <link rel="stylesheet" href="{% static 'css/practice.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script> 
  </head>
  <body>
    
    <section id="menu">
      <div class="logo">
        <img src="" alt="Logo">
        <h2>Attendease</h2>
      </div>
      
      <div class="items">
        <li><i class="fa-solid fa-circle-info"></i><a href="#">Personal Details</a></li>
        <li><i class="fa-solid fa-book"></i><a href="#">Create Leture</a></li>
        <li><i class="fa-solid fa-clock-rotate-left"></i><a href="#">Lecture History</a></li>
        <li><i class="fa-regular fa-calendar-days"></i><a href="#">Scheduled Lectures</a></li>
        <li><i class="fa-solid fa-magnifying-glass"></i><a href="#">Student Attendance</a></li>
      </div>

    </section>

    <section id="interface">
      <div class="navigation">
        <div class="n1">
          <div>
            <i id="menu-btn" class="fas fa-bars"></i>
          </div>
          <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">

          </div>

        </div>

        <div class="profile">
          <img src="" alt="Image">

        </div>
      </div>

      <h3 class="i-name">Scheduled Lectures</h3>
      <br>
      
      <div class="board">
        <div id="calendar" class="calendars"></div>
      </div>
        <br>
      

     

    </section>

    <script>
      $('#menu-btn').click(function(){
        $('#menu').toggleClass('active');
      })

      $(document).ready(function() {
   $('#calendar').fullCalendar({

    events: [{
         title: 'Full Stack',
         start: '2023-10-15T09:00',
         end: '2023-10-15T11:00',
         color: 'yellow',
         textColor: 'black'
         },
         {
         title: 'Haldi',
         start: '2023-02-02T15:00',
         end: '2023-02-02T17:00',
         color: 'yellow',
         textColor: 'black'
         },
         {
         title: 'Marriage',
         start: '2023-02-02T18:00',
         end: '2023-02-03T24:00',
         color: 'yellow',
         textColor: 'black'
         }]
         
});
});


    </script>
    
  </body>
</html>