{% load static %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark" style="height:77px;">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="width:100%">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item ml-auto mr-5">
            <a href="{% url 'logout'%}" class="btn btn-secondary">Logout</i></a>
        </li>
    </ul>

</nav>
<!-- /.navbar -->